body{
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover;
  background-image: url();
  transition: ease all .5s;
}


.bubble-1{
    display: none;
    height: 100vh;
    width:100%;
}

.bubble-2{
    display: none;
    height: 100vh;
    width:100%;
}

.bubble-3{
    display: none;
    height: 100vh;
    width:100%;
}

.bubble-4{
    display: none;
    height: 100vh;
    width:100%;
}

.bubble-5{
    display: none;
    height: 100vh;
    width:100%;
}

.bubble-6{
    display: none;
    height: 100vh;
    width:100%;
}

@media screen and (min-width: 1440px) {
    .bubble-6 {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .bubble-5 {
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .bubble-4 {
        display: block;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .bubble-3 {
        display: block;
    }
}


@media screen and (min-width: 600px) and (max-width: 768px) {
    .bubble-2 {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .bubble-1 {
        display: block;
    }
}








