body{
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover;
  background-image: url();
  transition: ease all .5s;
}



@media (max-width: 37.5em) {
    body {
        background-image: url(./images/original.jpg);
    }
}

@media (min-width: 37.5em) and (max-width: 48em) {
    body {
        background-image: url(./images/bigger.jpg);
    }
}

@media (min-width: 48em) and (max-width: 62em) {
    body {
	    background-image: url(./images/ipad.jpg);
   }
}

@media (min-width: 62em) and (max-width: 72em) {
    body {
	    background-image: url(./images/biggger2.jpg);
   }
}

@media (min-width: 72em) {
    body {
	    background-image: url(./images/big.jpg);
   }
}


