body{
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover;
  background-image: url();
  transition: ease all .5s;
}



@media (max-width: 600px) {
    body {
        background-image: url(./images/original.jpg);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    body {
        background-image: url(./images/bigger.jpg);
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    body {
	    background-image: url(./images/ipad.jpg);
   }
}

@media (min-width: 992px) and (max-width: 1200px) {
    body {
	    background-image: url(./images/biggger2.jpg);
   }
}

@media (min-width: 1200px) {
    body {
	    background-image: url(./images/big.jpg);
   }
}


